@model IEnumerable<NSI_CRK.Models.Payment>

@{
    ViewBag.Title = "Index";
}

    <div class="div-margin">
        <h2 style="display:inline">Payments</h2>
        <div style="float:right">
            <form class="div-search">
                <input type="search" class="input-search" name="SearchName" placeholder="Search..." />
                <button class="btn btn-outline-secondary" style="outline:none" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </form>
            <input style="width:100px;height:36px" type="button" value="Create New" onclick="location.href='@Url.Action("Create")'" />
        </div>
    </div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td style="text-align:end">
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
